################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.dll.config
*.pdb
*.suo
*.user
/*.xml
/.vs
/obj
/packages
