################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll.config
*.pdb
*.suo
/*.xml
/.vs
/ki.dll
/obj
/packages
