################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/*.dll
/*.dll.config
/*.pdb
/*.xml
/.vs
/lib/ki/
/obj
/packages
